<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>StayZilla BI Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
    {% load static %}
	<!--link rel="{% get_static_prefix %}dashboard/stylesheet/less" href="{% get_static_prefix %}dashboard/less/bootstrap.less" type="text/css" /-->
	<!--link rel="{% get_static_prefix %}dashboard/stylesheet/less" href="{% get_static_prefix %}dashboard/less/responsive.less" type="text/css" /-->
	<!--script src="{% get_static_prefix %}dashboard/js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<link href="{% get_static_prefix %}dashboard/css/bootstrap.min.css" rel="stylesheet">
	<link href="{% get_static_prefix %}dashboard/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="{% get_static_prefix %}dashboard/js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% get_static_prefix %}dashboard/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% get_static_prefix %}dashboard/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% get_static_prefix %}dashboard/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{% get_static_prefix %}dashboard/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="{% get_static_prefix %}dashboard/img/favicon.png">

	<script type="text/javascript" src="{% get_static_prefix %}dashboard/js/jquery.min.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}dashboard/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}dashboard/js/scripts.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}dashboard/js/highchartsutils.js"></script>

	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>

<body>
<div class="container">


<div class="page-header">
  <h1>StayZilla BI Dashboard <small>Dashboard and Trend Analytics</small></h1>
</div>
	<div class="row clearfix" id="row1">
		<div class="col-md-2 column">
		   <div data-spy="affix" id="myAffix">
			<div class="btn-group-vertical">
				 <button class="btn btn-default" type="button" id="pending-number"><em class="glyphicon glyphicon-stats"></em> Pending booking #</button> <button class="btn btn-default" type="button" id="pending-percent"><em class="glyphicon glyphicon-stats"></em> Pending booking %</button>
			</div>
			</div>
		</div>
		<div class="col-md-10 column" id="graph-overview">
			<div id="line1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			<div id="bar1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			<div id="bar2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
		</div>
	</div>
	<div class="row clearfix" id="row2">
		<div class="col-md-12 column">
			<div class="dropdown">

				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					<span class="selection">Option 1</span>
					<span class="caret"></span>
				  </button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#row2" onClick="updateGraph('Jan')">Jan</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#row2" onClick="updateGraph('Feb')">Feb</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#row2" onClick="updateGraph('Mar')">Mar</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#row2" onClick="updateGraph('Apr')">Apr</a></li>
				</ul>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div id="pie1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				</div>
				<div class="col-md-6 column">
					<div id="pie2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div id="pie3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				</div>
				<div class="col-md-6 column">
					<div id="pie4" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>

$(document).ready(function(){

    $("#pending-number").click(function(){
        //chartDataUrl = "plotgraph_pendingbooking?by=month";
        //refreshChart(chartDataUrl);
	});

    $("#pending-percent").click(function(){
        //chartDataUrl = "plotgraph_pendingbooking?by=hid";
        //refreshChart(chartDataUrl);
	});

});

$('#myAffix').affix({
  offset: {
    bottom: function () {
      return (this.bottom = $('#row2').outerHeight(true))
    }
  }
})

$(".dropdown-menu li a").click(function(){

  $(this).parents(".dropdown").find('.selection').text($(this).text());
  $(this).parents(".dropdown").find('.selection').val($(this).text());

});

var chartDataUrl = "plotgraph_pendingbooking?by=city_code";


$.getJSON(chartDataUrl,
	function(data) {
		drawBar('#bar1',data['X'] , data['Y'], 'Booking Trend (based on City)');
});

chartDataUrl = "plotgraph_pendingbooking?by=hid";

$.getJSON(chartDataUrl,
	function(data) {
		drawBar('#bar2', data['X'], data['Y'], 'Booking Trend (based on Hotel)');
});

chartDataUrl = "plotgraph_pendingbooking?by=month";
refreshChart(chartDataUrl);

//TODO:Optimize this
function refreshChart(chartDataUrl) {
    $.getJSON(chartDataUrl,
    	function(data) {
    		drawLine('#line1', data['X'], data['Y'], 'StayZilla Booking Trend');

    });
}






//mix (x,y) values and construct the dataValues for pie chart
dataValues = [
			['Firefox',   160],
            ['IE',       212],
            ['Safari',    100],
            ['Opera',     120],
            ['Others',   200]
        ];
drawPie('#pie1',dataValues, 'Top Bookings');
drawPie('#pie2',dataValues, 'Top Pending Bookings');
drawPie('#pie3',dataValues, 'Avg. Duration of Stay');
drawPie('#pie4',dataValues, 'Bookings based on Hotels');

function updateGraph(month) {

	alert(month);
}


</script>
</body>
</html>
